DotNet/HelloWorld/bin/
DotNet/HelloWorld/obj/
DotNet/guessGame/bin/*
DotNet/guessGame/obj/*
DotNet/calculator/bin/
DotNet/calculator/obj/
DotNet/ObjectOrientingProgramming/bin/
DotNet/ObjectOrientingProgramming/obj/
Web/nodejs/node_modules/
DotNet/guessGame/obj/Debug/net5.0/guessGame.csprojAssemblyReference.cache
DotNet/calculator/obj/Debug/net5.0/calculator.csprojAssemblyReference.cache
