@{
    ViewData["Title"] = "Home Page";
}
@section scripts {
    <script src="~/js/sovellus.js"></script>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button class="btn btn-info" id="nappi">Click me!</button>
    <ul>
        @for (int i = 0; i < 10; i++)
        {
        <li>@i</li>
        }
    </ul>
</div>
