@{
    ViewData["Title"] = "My Profile";
}
<h1>@ViewData["Title"]</h1>

<div class="content-box">
    <h1>Heljän osaamisprofiili</h1>
    <p>
    </p>
    <p>Käytän tällä hetkellä seuraavia kieliä:</p>
    <ul>
        <li>JavaScript (taitotasolla 7/10)</li>
        <li>HTML (8/10)</li>
        <li>CSS (7/10)</li>
        <li>SQL (7/10)</li>
    </ul>

    <br>
    <span>Olen koodannut myös seuraavilla kielillä:</span>
    <ol>
        <li>C# (taitotasolla 5/10)</li>
        <li>Java (6/10)</li>
        <li>TypeScript (6/10)</li>
    </ol>

    <img src="https://picsum.photos/200" alt="random picsum">
    <br>
    <span>
        <a href="https://www.linkedin.com/in/helja-hietala/">Linkki</a>
        LinkedIn profiiliini.
    </span>

    <a asp-area="" asp-controller="Home" asp-action="GameHouse">Tästä arvoituksen kimppuun, löydä vastaus!</a>
</div>