h1 {
    color:cornflowerblue;
}
a {
    margin-top: 3em;
    color:darkblue;
}
img {
    border-radius: 2em;
    border-color: cornsilk;
    margin: auto;
}
li {
    display: block;
    padding: 0.5em;
    padding-right: 1em;

}
ul {
    background-color: aquamarine;
    max-width: 50%;
}
ol {
    background-color: aquamarine;
    max-width: 50%;
}

.content-box {
    width: fit-content;
    margin: auto;
}
